*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  
}

/* header */

.header {
  background: url(./img/bg.jpg), linear-gradient(0.25turn, #665fab, #5129be);
  background-repeat: no-repeat;
  background-position-x: center;
}

.header__container {
  position: relative;
  width: 1248px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 64px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 564px;
}

.logo {
  width: 75px;
  height: 36px;
}

.logo--footer {
  width: 106px;
  height: 51px;
  margin-right: 32px;
}

.logo__img--footer {
  width: 106px;
  height: 51px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item {
  margin-right: 32px;
}

.menu__item--footer {
  margin-right: 24px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
}

.menu__link--footer {
  font-family: 'Outfit', sans-serif;
}

.deco-img {
  position: absolute;
  left: 670px;
  top: 352px;
}

.btn-scroll {
  position: absolute;
  display: block;
  top: 460px;
  left: 0;
}

.btn-scroll__text {
  width: 136px;
  animation: 40s linear 0s normal none infinite running rot;
  -webkit-animation: 40s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.btn-scroll__arrow {
  position: absolute;
  width: 52px;
  top: 42px;
  left: 42px;
}

.main-header {
  font-family: 'Outfit', sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  margin: 0;
}


/* main */

.main {
  background-color: #F4F1F1;
}

.main-container {
  
  padding-top: 96px;
}

.counter {
  display: flex;
  width: 1248px;
  margin: 0 auto 80px auto;
  justify-content: space-between;
  font-family: 'Sora', sans-serif;
}

.counter__header {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.counter__txt {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.scorer__numb {
  color: rgba(0, 0, 0, 0.15);
  font-size: 120px;
  font-weight: 600;
  margin: 0;
  letter-spacing: -0.1em;
  line-height: 0.9;
}

.scorer__txt {
  display: inline-block;
  color: rgba(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.scorer__txt-hour {
  margin-left: 66px;
}

.scorer__txt-minute {
  margin-left: 92px;
}

.scorer__txt-sec {
  margin-left: 65px;
}

.product-grid {
  display: flex;
  width: 1248px;
  flex-wrap: wrap;
  margin: 0 auto 56px auto;
  padding: 0;
  list-style: none;
}

.product-tile {
  position: relative;
  width: 402px;
  margin-right: 21px;
  margin-bottom: 40px;
  background-color: rgba(255, 255, 255, 1);
}

.product-tile:nth-child(3n+3) {
  margin-right: 0;
}

.product-tile:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.product-tile__img-link {
  display: block;
  margin-bottom: 105px;
}

.product-tile__img {
  display: block;
  width: 402px;
}

.product-grid__border {
  position: absolute;
  z-index: 10;
  top: 26px;
  left: 26px;
  width: 350px;
  height: 460px;
  border: solid 1.5px rgba(48, 38, 46, 1);
}

.product-tile__text-wrap {
  position: absolute;
  z-index: 20;
  top: 407px;
  left: 0;
  width: 254px;
  height: 93px;
  background-color: rgba(255, 255, 255, 1);
  padding: 13px 38px 0 26px;
}

.product-tile__name-grey {
  font-family: 'Outfit', sans-serif;
  color: #C2C2C6;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.product-tile__name {
  font-family: 'Outfit', sans-serif;
  color: rgba(0, 0, 0, 1);
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.04em;
  margin: 0;
}

.product-tile__hover-info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 402px;
  height: 512px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  animation: 400ms linear 0s normal forwards open;
}

@keyframes open {
  0% {
    display: block;
    opacity: 0;
    visibility: hidden;
  }

  100% {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.product-tile:hover .product-tile__hover-info {
  display: flex;
  cursor: pointer;
  transition: 4s ease-in-out;
}

.product-tile__hover-txt {
  font-family: 'Sora', sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.04em;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0;
  background-color: #fff;
  color: #000;
}

.product-tile__hover-txt::before {
  content: "";
  display: inline-block;
  background-image: url(./img/link-icon.png);
  background-position-y: 1px;
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.newsletter {
  margin: 0 auto 108px auto;
  background-color: #fff;;
}

.newsletter__wrap {
  width: 731px;
  padding-top: 106px;
  margin: 0 auto;
}

.newsletter__txt-wrap {
  margin-bottom: 56px;
  font-family: 'Sora', sans-serif;
  text-align: center;
}

.newsletter__header {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.04em;
  margin: 0 0 16px 0;
  text-transform: uppercase;
}

.newsletter__txt {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  margin: 0;
}

.newsletter__form {
  display: flex;
  
}

.newsletter__input {
  width: 560px;
  height: 69px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  outline: none;
  padding: 0 25px;
  margin-right: 8px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Sora', sans-serif;
}

.newsletter__btn {
  width: 163px;
  height: 69px;
  border-radius: 4px;
  border: 0;
  color:#fff;
  background-color: #000;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Sora', sans-serif;
  cursor: pointer;
}

.footer {
  background-color: #000;
  padding-bottom: 32px;
}

.footer__container {
  width: 1248px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__left-block {
  padding-top: 66px;
}

.footer__logos-wrap {
  display: flex;
  margin-bottom: 59px;
}

.creators__txt {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Sora', sans-serif;
  margin: 0;
}

.creators__wrap {
  display: flex;
  align-items: center;
}

.creators__logo {
  display: block;
  width: 137px;
  height: 31px;
}

.creators__logo--sol {
  height: 21px;
  margin-right: 16px;
}

.footer__copyright {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Outfit', sans-serif;
  margin: 0;
}

.footer__right-block {
  padding-top: 32px;
}

.socials {
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0 0 122px 0;
  padding: 0;
}

.socials__item {
  margin-right: 16px;
  width: 24px;
  height: 24px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
}

.socials__link-inst::before {
  background-image: url(./img/ci_instagram.svg);
}

.socials__link-gh::before {
  background-image: url(./img/ci_github.svg);
}

.socials__link-di::before {
  background-image: url(./img/ci_discord.svg);
}

.socials__link-tw::before {
  background-image: url(./img/ci_twitter.svg);
}

.socials__link-reddit::before {
  background-image: url(./img/ci_reddit.svg);
}